{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}
<title>
        {% block title %}
        TESCI |
        {% endblock %}
</title>

    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/styles.css') }}">
{% endblock%}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

        {% for message in get_flashed_messages() %}
        <div class="alert alert-success text-center" role="alert" class ="close" 
        data-dismiss ="alert">
     <p>    {{message}}</p>
        </div>
        {% endfor %}
        
        {% block content %}        
        
        {% endblock %}

        {% block scripts %}
            {{ super () }}
        {% endblock %}

{% endblock %}